<% layout('layout') %>
<nav class="navbar">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a href ng-click="tab = 'signup'">Sign Up</a>
      </li>
      <li>
        <a href ng-click="tab = 'login'">Login</a>
      </li>
      </ul>
      {{tab}}
  </div>
</nav>